body {
background-color: black;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header--main {
font-weight: normal;
font-size: 50px;
color: white;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

.header--secondary {
    font-weight: 300;
    color: white;
    font-size: 42px;

}

.header--sub-header {
    color: gray;
    font-size: 21px;


}

.footer--copyright {
font-size: 21px;
color: grey;
text-align: right;

}